<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <custom-scroll></custom-scroll> 
    <script>
        document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches))
        window.addEventListener("DOMContentLoaded", () => {
            let sun = document.getElementById("sun");
            let moon = document.getElementById("moon");
            sun.addEventListener("click", () => {
                localStorage.theme = "light";
                document.documentElement.classList.toggle("dark");
            });
            moon.addEventListener("click", () => {
                localStorage.theme = "dark";
                document.documentElement.classList.toggle("dark");
            });
        });
    </script>
    <hash-title-scroll offset='-140'></hash-title-scroll>
    <title>{{ .Title }}</title>
</head>
<body class="h-screen flex flex-col dark:bg-black bg-white custom-scroll">
    <main class="pt-[135px] flex-grow dark:bg-dracula-background bg-gray-200 flex flex-col sm:pl-[5%] sm:pr-[5%] md:pl-[10%] md:pr-[10%] lg:pr-[20%] lg:pl-[20%] xl:pr-[30%] xl:pl-[30%]">
        {{ template "header" . }}
        {{ template "social" . }}
        {{ template "nav" . }}
        {{ template "overlay" . }}
        <article id="article" class="flex-grow flex flex-col p-4 font-mono bg-white dark:bg-black dark:text-white overflow-auto">
          <div class='flex flex-col gap-4'>
            <div class='flex flex-col gap-2'>
              <h1 class='text-3xl font-bold'>{{ .PostName }}</h1>
              <p class='text-xs text-gray-600 dark:text-gray-400'>{{ .DateWritten }}</p>
            </div>
            <p class='text-sm'>{{ .SubText }}<the-blinker rate="1000"></the-blinker></p>
            <img src="{{ .ImagePath }}" class="w-[150px] rounded" />
            <random-beads count='12' class='pb-6'></random-beads>
          </div>

            <tw-markdown>
                {{ .Content }}
            </tw-markdown>
        </article>
        {{ template "footer" . }}
        <title-links target='#article' offset="-140" link-wrapper-class="flex" link-class="p-4 w-full hover:underline border-b border-gray-200 dark:border-gray-800" class="fixed scrollbar-hidden overflow-y-scroll top-0 z-50 right-0 hidden xl:flex text-sm p-4 flex-col text-gray-600 dark:text-gray-400 h-full dark:bg-black bg-white hidden w-[300px]"></title-links>
    </main>
    <script src="/static/js/index.js"></script>
</body>
</html>
